*{
    margin: 0;
    padding: 0;
}
.homeContainer{
    text-align: center;
    background-color: #F2BB16;
    height: 100vh;
}
.scheduleFormView{
    position: absolute;
    margin-top: 15vh;
    width: 53vw;
    height: 70vh;
    margin-left: 25vw;
    background-color: #0000007d;
}
.inputData{
    height: 3vh;
    text-align: center;
    width: 7vw;
    margin-left: 15.0vw;
    margin-bottom: -4.0vw;
}
.inputHora{
    height: 3vh;
    text-align: center;
    width: 7vw;
    margin-top: 3.5%;
    margin-left: 24.6vw;
}

.selectSchedule{
    text-align: center;
    margin-right: 3.5vw;
    margin-top: 1vh;
}