*{
    margin: 0;
    padding: 0;
}
.homeContainer{
    text-align: center;
    background-color: #F2BB16;
    height: 100vh;
}
.scheduleFormView{
    position: absolute;
    margin-top: 15vh;
    width: 53vw;
    height: 70vh;
    margin-left: 25vw;
    background-color: #0000007d;
}