*{
    margin: 0;
    padding: 0;
}
.homeContainer{
    text-align: center;
    background-color: #F2BB16;
    height: 100vh;
}
.scheduleFormView{
    position: absolute;
    margin-top: 15vh;
    width: 53vw;
    height: 70vh;
    margin-left: 25vw;
    background-color: #0000007d;
}
.inputData{
    font-size: 14px;
    height: 3vh;
    text-align: center;
    width: 7vw;
    margin-left: 15.0vw;
    margin-bottom: -4.0vw;
}
.inputHora{
    font-size: 15px;
    height: 3vh;
    text-align: center;
    width: 7vw;
    margin-top: 3.5%;
    margin-left: 24.6vw;
}

.selectSchedule{
    text-align: center;
    margin-right: 3.5vw;
    margin-top: 1vh;
}


.buttonSubmitSchedule{
    width: 320px;
    display: block;
    margin-left: 15vw;
    margin-top: 1vh;
    border-radius: 8px;
    padding: 2%;
    color: white;
    background-color: #4bb64b;
    border-color: #8d8d8d00;
}

.buttonSubmitSchedule:hover{
    background-color: #508650 !important;
}

.buttonCancelSchedule{
    width: 320px;
    display: block;
    margin-left: 15vw;
    margin-top: 1vh;
    border-radius: 8px;
    padding: 2%;
    color: white;
    background-color: #FC7C7C;
    border-color: #8d8d8d00;
}